/* pages and rabbit holes */
:root {
   --computer: #dbdfe2;
   --computer-shadow: #aaabaf;
   --space: #010837;
   --text: #65ffff;
   --white: #ffffff;
   --offwhite: #f1f1f1;
   --grey: #ccc;
   --black: #000000;
   --offblack: #1B1B1B;
   --orange: #Ffac48;
   --purple: #9226FD;
   --teal: #65d1d1;
         }
/* body */
body {
background-color: var(--offblack);
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Aldrich", sans-serif;
}
p {
  font-family: "Alata", sans-serif;
  color: var(--offwhite);
}
hr {
  color: var(--purple);
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: var(--offblack);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
